*{
    margin: 0;
    padding: 0;    
    scrollbar-width: thin;    
    scrollbar-color: #2d2d2f6b transparent;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(40, 6, 6);
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 1;
    overflow-x: auto;
    scrollbar-width: none;
}

nav .logo{
    font-size: 30px;
}

.menus ul{
    display: flex;
    border-radius: 5px;
    position: relative;
}

.menus ul li{
    text-align: center;
    list-style: none;
    z-index: 2;
}

.home{
    width: 40px;
    font-size: 25px;
}

.about{
    width: 100px;
}

.skills{
    width: 70px;
}

.projects{
    width: 90px;
}

.contact{
    width: 40px;
    font-size: 25px;
}

.menus ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding: 15px 0px;
    display: block;
}

.slidermenus{
    position: absolute;        
    width: 110px;
    height: 90%;
    left: 0px;
    border-bottom: 2px solid maroon;
    z-index: 1;
    transition: 0.5s ease;
}

@media screen and (max-width: 768px) {
    
    nav{
        height: 45px;
    }

    .menusbackgroundabc{        
        position: fixed;
        bottom: 0px;
        z-index: 3 !important;
        background-color: rgb(40 6 6);        
        width: 100%;
        height: 57px;
    }

    .menus{
        position: fixed;
        bottom: 0px;
        z-index: 3;
        background-color: rgb(40 6 6);        
    }
    
    .slidermenus{
        align-items: center;
    }

}

@keyframes appear {
 
    from{
        opacity: 0;
        scale: 0.5; 
    }to{
        opacity: 1;
        scale: 1;        
    }

}

section{    
    min-height: 69vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

/* home section */

.HomeContainer{
    background-image: url("assets/img/DM1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
    height: 88vh;
    align-items: center;
    justify-content: space-around;
    font-size: 40px;
}

.HomeContainer label[for='ProfessionalDesignation']{
    font-size: 35px;    
}

.HomeContainer label[for='MyName']{
    font-size: 45px;    
}

.HomeContainer .rightMyImg img{
    height: 88vh;    
}

/* titles */

.linkbox{
    position: relative;
    align-items: flex-start;
    bottom: 80px;
}

.titleForSection{
    /* font-size: 45px; */
    font-weight: 600;
    margin-top: 20px;
    padding: 20px;
    text-align: center;  
    width: 100%; 
    box-sizing: border-box;
}

@media screen and (max-width: 992px) {

    .HomeContainer{        
        flex-direction: column-reverse;
        padding-bottom: 25px;
    }

    .HomeContainer .rightMyImg img{
        height: 60vh;    
    }

    section{
        flex-direction:column;
        padding: 10px;
    }

    .HomeContainer{        
        font-size: 55px;
        text-align: center;    
        height: 90vh;           
    }

    .HomeContainer label[for='ProfessionalDesignation']{
        font-size: 60px;    
        display: flex;
        justify-content: center;        
    }

    .HomeContainer label[for='MyName']{
        font-size: 66px;    
        display: flex;
        justify-content: center;
    }
    
    .HomeContainer .rightMyImg img{
        height: 50vh;    
        display: flex;
        justify-content: center;        
    }

}

@media screen and (max-width:768px) {

    .HomeContainer{        
        flex-direction: column-reverse;
    }

    .HomeContainer .rightMyImg img{
        height: 60vh;    
    }

    section{
        flex-direction:column;
        padding: 10px;
    }

    .HomeContainer{        
        font-size: 30px;
        text-align: center;    
        height: 90vh;           
    }

    .HomeContainer label[for='ProfessionalDesignation']{
        font-size: 30px;    
        display: flex;
        justify-content: center;        
    }

    .HomeContainer label[for='MyName']{
        font-size: 33px;    
        display: flex;
        justify-content: center;
    }
    
    .HomeContainer .rightMyImg img{
        height: 50vh;    
        display: flex;
        justify-content: center;        
    }

}


@media screen and (max-height: 430px){
    .HomeContainer{
        
        flex-direction: row;
        height: 67vh;
        
        /* justify-content: space-around; */
        font-size: 19px;
    }
    
    .HomeContainer label[for='ProfessionalDesignation']{
        font-size: 20px;    
    }
    
    .HomeContainer label[for='MyName']{
        font-size: 25px;    
    }
    
    .HomeContainer .rightMyImg img{
        height: 70vh;    
    }

}

/* About section */

.LeftSideOfAboutContainer img{
    height: 40vw;
}

.RightSideOfAboutContainer{
    padding: 10px;
    max-height: 65vh;
    width: 70vh;
    border: 2px solid whitesmoke; 
    border-radius: 10px;
    overflow: auto;
    font-size: larger;
    align-items: center;
    text-align: justify;
}

@media screen and (max-width: 992px) {
    .RightSideOfAboutContainer{
        max-height: 65vh;
        width: 55vw;
        font-size: x-large;
    }
}

@media screen and (max-width:768px) {
    .RightSideOfAboutContainer{
        font-size: large;
    }
 }

@media screen and (max-width: 600px) {
    .RightSideOfAboutContainer{
        margin-bottom: 20px;
        width: 75vw;
    }    
}

@media screen and (max-height: 430px) {
    .RightSideOfAboutContainer{
        font-size: 15px;
    }
}

/* skills section */

.skl{
    display: flex;
}

.skil{
    height: 80vh;
    width: 90vw;
    display: flex;
    overflow: auto;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.frontendskil{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover; 
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.backendskil{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;   
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.Databaseskil{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;   
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.Frameworkskil{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;   
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.sklsec{
    position:relative;
    bottom: 92.3vh;    
}

.sliderNav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.sliderNav a button{
    display: flex;
    padding: 5px;
    border: none;
    background-color: rgb(168 168 168 / 26%);
    color: rgba(255, 255, 255, 0.735);
    text-wrap: nowrap;
}

.sliderNav button:hover{
    background-color: white;
    color: black;
}

.skil .skilTitle{
    font-size: 40px;
    text-align: center;
    position: sticky;
    background-color: black;
    top:0px;
    border-bottom: 1px solid;
}

.skilDescription{
    display: flex;    
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
}

.skilDescription .skilBox{
    
    text-align: center;
}

.skilBox img{
    height: 20vw;   
    /* animation: float 3s ease-in-out infinite; */
}
/* @keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
} */

.skilBox label{
    font-size: large;    
}

.skilBox p{
    display: flex;
    flex-wrap: wrap;
    font-size: large;
    width: 85vh;
    text-align: justify;
    overflow-y: auto;    
}

.skilBox p img{
    height: 18px;
}

.skilBox .projectviewbtn{
    display: flex;
    justify-content: space-evenly;   
}

.skilBox .projectviewbtn button{
    font-size: large;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.735);
    border-radius: 7px;    
    width: -webkit-fill-available;
}

.skilBox .projectviewbtn button:hover{
    background-color: white;
    border-radius: 10px;
}

/* Project section */

.e-commerceproj{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;   
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.gameproj{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;   
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.BisagN{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;   
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.skilBoxProj img{
    height: 250px;
}

@media screen and (max-width:1200px){

    .skilBox p{
        width: 53vh;
        overflow: auto;
        flex-wrap: wrap;  
    }
    
    .skilDescription{
        overflow-y: scroll;    
    }
  
}

@media screen and (max-width: 992px) {

    .skil{
        margin-bottom: 45px;
    }

    .skilDescription{
        flex-direction: row;  
        flex-wrap: wrap;  
    }

    .skilBox .projectviewbtn{
        flex-direction: column;
    }

    .skilBox p{        
        width: 66vw;
        font-size: x-large;
    }

    .skilBox p img{
        height: 28px;
    }

    .sklsec{
        bottom: 83.3vh;
     }

    .skil .skilTitle {
        padding: 10px;                
    }

    .sliderNav {        
        background-color: black;
        padding: 0px 10px;
        border-radius: 16px;        
    }  

}

@media screen and (max-width: 600px) {

    .sklsec{
        bottom: 80.3vh;
    }

    .skilBox p {
        font-size: 18px;
    }

    .skilBox p img{
        height: 20px;
    }

}

@media screen and (max-height: 430px){
    section{
        justify-content: flex-start;
    }
    .skilBox p{
        font-size: 15px;
    }
}

/* contect section  */

.ContectPage{
    display: flex;    
    justify-content: space-evenly;
    column-gap: 8vw;
}

.socialmediacontect{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
    height: 50vh;
}

.socialmediacontect label{
    font-size: 35px;
}

.contectdetails{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contect-icon img{
    filter: invert();
    height: 30px;
    width: 30px;
}

.contect-icon{
    display: flex;    
    gap: 10px;
    font-size: 20px;
    align-items: center;
}
.contect-icon a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/* sending mail  */

.SendmeMail form{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-around;
}

.SendmeMail form input{
    height: 25px;    
    width: 40vw;
    font-size: 18px;
    text-align: center;
}

.SendmeMail form textarea{
    height: 75px;
    width: 40vw;
    font-size: 18px;
    text-align: center;
}

.SendmeMail form button{
    width: 40vw;
    font-size: 35px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    border: 2px solid transparent;
    color: white;
}

.SendmeMail form button:hover{
    background-color: white;
    border:2px solid rgb(255, 0, 47);
    color: black;
    transition: 1s;
    border-radius: 20px;
}

@media screen and (max-width: 1200px) {

    .ContectPage{
        height: 100%;
        width: 100%;
        align-items: center;
    }

}

@media screen and (max-width: 992px) {

    .ContectPage{
        flex-direction: column-reverse;
    }

    .SendmeMail form{
        height: 30vh;
    }

    .socialmediacontect{
        height: 25vh;
    }

}

@media screen and (max-width: 768px) {

    .ContectPage{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .SendmeMail form{
        height: 30vh;        
    }

    .socialmediacontect{
        height: 33vh;
        margin-bottom: 90px;
    }

    .SendmeMail form input{
        width: 43vh;
    }

    .SendmeMail form textarea{
        width: 43vh;
    }

    .SendmeMail form button {        
        width: 43vh;       
        background-color: rgb(0, 0, 0);
        border: 2px solid white;        
    }
 
}

@media screen and (max-width: 600px) {
    
    .socialmediacontect{
        height: 33vh;
        margin-bottom: 60px;
    }

    .SendmeMail form input{
        width: 37vh;
    }

    .SendmeMail form textarea{
        width: 37vh;
    }

    .SendmeMail form button {        
        width: 37vh;                
    }
}


@media screen and (max-height:430px) {
    .ContectPage{
        margin-bottom: 88px;
    }
    
}